# Maven build targets
**/target/*

# Eclipse specific
**/.project
**/.settings/*
**/.prefs
**/.classpath

# IntelliJ IDEA specific
.idea/
*.iml

# VS Code
.factorypath
.vscode

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#env vars config for systemtest
systemtest/config.json